body {
  font-family: "Montserrat", sans-serif;
}
#life-years {
  position: absolute;
  top: 0;
  bottom: 0;
  white-space: nowrap;
  pointer-events: none;
}
#life-years .year {
  display: inline-block;
  box-sizing: border-box;
  color: black;
  font-weight: 300;
  white-space: nowrap;
  box-sizing: border-box;
  height: 100%;
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
}
#life-years .year:first-child {
  border-left: 0;
}
#life-years .year span {
  background: linear-gradient(
    to bottom,
    rgba(245, 245, 244, 1) 30%,
    rgba(245, 245, 244, 0) 100%
  );
  display: block;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
#life-years .year span i {
  opacity: 0.5;
  font-style: normal;
}
#life-events {
  padding-top: 40px;
  padding-bottom: 5em;
  position: relative;
}
#life-events:after {
  clear: left;
  content: "";
  display: block;
}
#life .event {
  clear: left;
  float: left;
  padding-bottom: 5px;
  padding-right: 20px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
